<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"><!-- codificacion -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- compatibilidad con navegadores -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- escala de la pagina -->
    <title>Contacto</title><!-- nombre de la pestaña -->
</head>
<body>
    <h1>Contacto</h1>
    <img src= "/img/contacto.jpg" alt="Imagen promocional de contacto" height="400px"> <!-- alt sirve para accesibilidad -->
    
</body>.

</html>